body {
  background-color: lightblue;
}

h1 {
  color: darkblue;
  font-family: Arial, sans-serif;
}


p {
  color: darkred;
  font-family: Georgia, serif;
  font-size: 18px;
  margin: 50px; 
  padding: 25px; 
  font-size: 16px;
  border: 2px solid;
}

.box {
  background-color: lightblue;
  border: 2px solid navy;
  padding: 20px;
  margin: 20px;
  width: 300px;
}