h1 {

}

p {
    margin: 50px;
    padding: 25px;
    font-size: 16px;
    border: 2px solid #70db70;
}

div {
    border: 5px dashed #00f;
    color: #00f
}

#cat{
    font-size: 24pt;
    font-style: italic;
    color: #000000;
}